body {
    background-color: cornflowerblue;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 20px;
    background-color: #f9f9f9;
    color: #444;
}

h1 {
    text-align: center;
    color: #444;
}

#todo-container {
    max-width: 500px;
    margin: 0 auto ;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0,1);
}

#task-input {
    width: calc(100% - 110 px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}

#addtask {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#addtask:hover {
    background-color: #45a049;
}
